<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285005259888-8sdfjvktrv61893k26fhlodb36oj6eje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285005259888-8sdfjvktrv61893k26fhlodb36oj6eje</string>
	<key>API_KEY</key>
	<string>AIzaSyC2jg89uMXKFu61YkXa1Ialsyc1Ld5qN4k</string>
	<key>GCM_SENDER_ID</key>
	<string>285005259888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cristian.Artable</string>
	<key>PROJECT_ID</key>
	<string>artable-d40a3</string>
	<key>STORAGE_BUCKET</key>
	<string>artable-d40a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285005259888:ios:3e0c0d49c3de16ee5d40b5</string>
	<key>DATABASE_URL</key>
	<string>https://artable-d40a3.firebaseio.com</string>
</dict>
</plist>